<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codenames Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<script>
    let gameState = {{ game_state|tojson }};
    const playerRole = "{{ player_role}}";
    const playerTeam = "{{ player_team}}";
</script>
<body onload="setCode()">
    <div class="header">
            <button class="btn" onclick="window.location.href='{{ url_for('index') }}'">Back to Homepage</button>
    </div>
    <div id="game-container">
		<h2 id='code-badge'>GAME CODE</h2>
        <div id="game-board"></div>
        <div id="info-container">
            <div id="current-turn" class="info"></div>
            <div id="current-clue" class="info"></div>
            <div id="guesses-remaining" class="info"></div>
            <div id="team-role" class="info"></div>
            <div id="team-scores" class="info"></div>
            <div id="game-end" class="info"></div>
        </div>
        {% if player_role == 'spymaster' %}
        <div id="clue-form-container" class="clue-form">
            <label for="clue-word">Clue Word:</label>
            <input type="text" id="clue-word">
            <label for="clue-number">Number:</label>
            <input type="number" id="clue-number" min="0">
            <button id="submit-clue" class="btn">Submit Clue</button>
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
	<script>
		function setCode(){
			document.getElementById('code-badge').textContent = "Game Code: " + gameState.code;
		}
	</script>
</body>
</html>