<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codenames Game</title>
    <link rel="stylesheet" href="{{ url_for('codenames.static', filename='css/index.css') }}">
</head>
<body onload="popGames()">
    <nav class="navbar">
        <div class="container">
            <h1>Codenames Web App</h1>
        </div>
    </nav>
    <div class="container">
        <div class="team-selection">
            <h2>Select Your Team and Role</h2>
            <form id="team-role-form">
                <div>
                    <label for="team">Team:</label>
                    <select name="team" id="team">
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                    </select>
                </div>
                <div>
                    <label for="role">Role:</label>
                    <select name="role" id="role">
                        <option value="spymaster">Spymaster</option>
                        <option value="guesser">Guesser</option>
                        <option value="observer">Observer</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="games-section">
            <h2>Active Games</h2>
            <div id="active-games"></div>
            <div class="buttons">
                <button type="button" id="create-game-button" class="button">Create Game</button>
                <button type="button" id="refresh-button" class="button">Refresh List</button>
            </div>
        </div>
    </div>
    <script>
        const FLASK_ENV = {{ config['FLASK_ENV']|tojson }};
        const BASE_URL = FLASK_ENV ? '' : '/codenames';
        document.getElementById('create-game-button').addEventListener('click', function() {
            const team = document.getElementById('team').value;
            const role = document.getElementById('role').value;
            window.location.href = `${BASE_URL}/create?team=${team}&role=${role}`;
        });
        document.getElementById('refresh-button').addEventListener('click', popGames);
        function popGames() {
            fetch(`${BASE_URL}/getgames`)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('API request failed');
                    }
                })
                .then(data => {
                    const games = document.getElementById('active-games');
                    games.innerHTML = "";
                    for (let i = 0; i < data.length; i++) {
                        let code = data[i];
                        const newButton = document.createElement('button');
                        newButton.classList.add('button-red');
                        newButton.textContent = code;
                        newButton.addEventListener('click', loadGame);
                        games.appendChild(newButton);
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        }
        function loadGame(evt){
            const code = evt.currentTarget.textContent;
            const team = document.getElementById('team').value;
            const role = document.getElementById('role').value;
            window.location.href = `${BASE_URL}/game?code=${code}&team=${team}&role=${role}`;
        }
    </script>
</body>
</html>
